/*
    Method of include the new font:
    1. include the <Link> in html
    2. place the .otf / .ttf file and label the path in @font-face { src: }
*/


/* Font "Rajdhani" */
.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}
  
.rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}


/* Font "Lequire" */
@font-face {
    font-family: 'Lequire';
    src: url('./Lequire.otf') format('truetype');
    /* Add additional font formats here if available */
}
  
.Lequire{
    font-family: 'Lequire', sans-serif;
}